# fish
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/completions

# mac files
.CFUserTextEncoding
.DS_Store

# mac directories
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

# various files
.local
.lesshst
.ssh
.idea
.viminfo
.vim/tmp
.zprofile
.zsh_history
.zsh_sessions
