# fish
.config/fish/conf.d
.config/fish/fish_variables
.config/fish/completions

# code directory
/src

# default go directory
/go

# gh copilot 
.config/github-copilot

# mac files
.CFUserTextEncoding
.DS_Store

# mac directories
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

# various files
.aws*
.cache
.local
.docker
.lesshst
.ssh
.npm
.npmrc
.idea
.cups
.cargo
.rustup
.viminfo
.vim/tmp
.zprofile
.zsh_history
.psql_history
.zsh_sessions
